@import "tailwindcss";

@theme {
    --color-main: #F8F4E9;
    --color-brand: #8BB8E8;
    --color-brand-alt: #446882;
    --color-text: #000000;
    --color-text-alt: #FFFFFF;
    --color-link: #690098;
    --color-warning: #FF0000;
}

@layer base {
    body {
        background-color: var(--color-main);
        color: var(--color-text);
        overscroll-behavior: none;
        overflow: hidden;
    }

    input, textarea {
        &:focus {
            outline: none;
        }
    }
}